*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #333;
  color: #343A3D;
  font-family: Arial,sans-serif;
  padding-top: 75px;
  background: #333; }

.math__set-complete, .math__incre, .math__decre, .math__abort-notif {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

.math__big-wrap {
  background: #fff;
  width: 710px;
  height: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px; }

.math__header {
  display: flex;
  justify-content: space-between; }

.math__heading {
  color: #377AA6;
  font-size: 25px;
  font-weight: normal; }

.math__type-select {
  font-weight: bold;
  border-radius: 2px;
  background-color: #f0f3f5;
  outline: none; }

.math__type-text {
  color: #F08710;
  font-weight: bold; }

.math__inner-wrap {
  margin-top: 40px;
  padding: 25px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ececec;
  background-color: #F7FAFC; }

.math__time {
  font-size: 13px; }

.math__number-wrap {
  display: flex;
  height: 65px;
  /*visibility: hidden;*/
  background: #fff;
  width: 90%;
  margin: 30px auto 0;
  justify-content: center;
  font-size: 40px;
  padding: 10px;
  transition: 2s; }

.math__number {
  margin: 0 20px; }

.math__eql-sign {
  font-size: 46px;
  margin: 0 10px; }

.math__answer-form {
  margin-top: 40px;
  height: 93px; }
  .math__answer-form div:first-child {
    display: flex;
    justify-content: center;
    align-items: center; }

.math__answer-user {
  margin: 0 10px;
  width: 190px;
  font-size: 46px; }

.math__answer-user:disabled {
  background: #fff;
  border-width: 0;
  border: 1px solid #a9a9a9; }

.math__answer-correct {
  color: #909090;
  font-size: 46px;
  display: none; }

.math__answer-type {
  font-size: 25px;
  padding: 3px 0 0 100px;
  line-height: 1.1;
  font-family: cursive; }

.math__answer-type--correct {
  color: #009F00; }

.math__answer-type--wrong {
  color: #EE0000; }

.math__step {
  font-size: 13px;
  margin-top: 15px;
  visibility: hidden; }

.math__cancel {
  margin-top: 20px; }

.math__intro {
  position: absolute;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  background: #fff;
  text-align: center;
  font-weight: 700;
  padding: 5px;
  cursor: pointer; }

.math__intro-title {
  color: #F08710;
  display: block; }

.math__intro-text {
  color: #707070;
  display: block; }

.math__set-complete {
  background-color: #e1eef0;
  width: 270px;
  padding: 10px;
  top: 15px;
  text-align: center;
  transition: 1s;
  visibility: hidden;
  height: 0;
  opacity: 0; }

.math__set-complete--visible {
  height: 65px;
  visibility: visible;
  opacity: 1; }

.math__set-complete-title {
  display: block;
  font-size: 15px; }

.math__set-complete-text {
  display: block;
  font-size: 14px;
  margin-top: 5px; }

.math__abort {
  visibility: none;
  padding: 10px;
  text-align: center; }

.math__incre {
  background-color: #d3f0d1;
  padding: 10px;
  visibility: hidden;
  height: 0;
  transition: .5s;
  width: 270px;
  text-align: center;
  top: 85px; }

.math__incre--visible {
  height: 65px;
  visibility: visible;
  opacity: 1; }

.math__decre {
  background-color: cadetblue;
  padding: 10px;
  visibility: hidden;
  height: 0;
  transition: .5s;
  width: 270px;
  text-align: center;
  top: 85px; }

.math__decre--visible {
  height: 65px;
  visibility: visible;
  opacity: 1; }

.math__abort-notif {
  margin-top: 10px;
  height: 0;
  visibility: hidden;
  background: #fcf973;
  padding: 10px;
  text-align: center;
  transition: .5s; }

.math__abort-notif--visible {
  visibility: visible;
  height: 65px; }
