*,
*:before,
*:after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #333;
	color: #343A3D;;
	font-family: Arial,sans-serif;
	padding-top: 75px;
	background: #333;
}

%horizental-center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.math{
	
	&__big-wrap{
		background: #fff;
		width: 710px;
		height: 500px;
		margin: 0 auto;
		padding: 20px;
		border-radius: 10px;
	}

	&__header{
		display: flex;
		justify-content: space-between;
	}

	&__heading{
		color: #377AA6;
		font-size: 25px;
		font-weight: normal;
	}

	&__type-select{
		font-weight: 700;
		font-size: 14px;
		border-radius: 2px;
	    background-color: #f0f3f5;
	    outline: none;
	}

	&__type-text{
		color: #F08710;
		font-weight: bold;
	}

	&__inner-wrap{
		margin-top: 40px;
		padding: 25px 0;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
   		border: 1px solid #ececec;
	    background-color: #F7FAFC;
	}

	&__time{
		font-size: 13px;
	}

	&__number-wrap{
		display: flex;
		height: 65px;
		/*visibility: hidden;*/
		background: #fff;
		width: 90%;
		margin: 30px auto 0;
		justify-content: center;
		font-size: 40px;
		padding: 10px;
		transition: 2s;
	}

	&__number{
		margin: 0 20px;
	}

	&__eql-sign{
		font-size: 46px;
		margin: 0 10px;
	}

	&__answer-form{
		margin-top: 20px;
		height: 93px;

		div:first-child{
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	&__answer-user{
		margin: 0 10px;
		width: 190px;
		font-size: 46px;
	}

	&__answer-user:disabled{
		background: #fff;
		border-width: 0;
		border: 1px solid #a9a9a9;
	}

	&__answer-correct{
		color: #909090;
		font-size: 46px;
		display: none;
	}

	&__answer-type{
		font-size: 25px;
		padding: 3px 0 0 100px;
		line-height: 1.1;
		font-family: cursive;
	}

	&__answer-type--correct{
		color: #009F00;
	}

	&__answer-type--wrong{
		color: #EE0000;;
	}

	&__step{
		font-size: 13px;
		margin-top: 25px;
		visibility: hidden;
	}

	&__abort{
		margin-top: 20px;
	}

	&__intro{
		position: absolute;
	    width: 50%;
	    left: 50%;
	    transform: translateX(-50%);
	    bottom: 20px;
	    background: #fff;
	    text-align: center;
	    font-weight: 700;
	    padding: 5px;
	    cursor: pointer;
	}

	&__intro-title{
		color: #F08710;
		display: block;
	}

	&__intro-text{
		color: #707070;
		display: block;
	}
 

	&__set{
		position: absolute;
		left: 50%;
		background-color: #e1eef0;
		width: 270px;
		padding: 5px;
		transition: .5s;
		border-radius: 5px;
		visibility: hidden;
		height: 0;
		opacity: 0;
		@extend %horizental-center;
		text-align: center;
	}

	&__set--visible{
		visibility: visible;
		opacity: 1;
		height: 52px;
	}

	&__set-title{
		display: block;
		font-size: 15px;
	}

	&__set-text{
		display: block;
		font-size: 13px;
		margin-top: 5px;
	}
	 
	&__set--complete{
		top: 90px;
	}

	&__set--incre{
		background-color: #d3f0d1;
	}
	 
	&__set--decre{
	    background-color: rgb(255, 118, 119);
	}

	&__set--abort{
		margin-top: 10px;
		background: #fcf973;
	}

}




 