*,
*:before,
*:after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #333;
	color: #343A3D;;
	font-family: Arial,sans-serif;
	padding-top: 75px;
	background: #999;
}

.math{
	
	&__big-wrap{
		background: #fff;
		width: 710px;
		height: 500px;
		margin: 0 auto;
		padding: 20px;
		border-radius: 10px;
	}

	&__header{
		display: flex;
		justify-content: space-between;
	}

	&__heading{
		color: #377AA6;
		font-size: 25px;
		font-weight: normal;
	}

	&__type-select{
		font-weight: bold;
		border-radius: 2px;
	    background-color: #f0f3f5;
	    outline: none;
	}

	&__type-text{
		color: #F08710;
		font-weight: bold;
	}

	&__inner-wrap{
		margin-top: 40px;
		padding: 25px 0;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
   		border: 1px solid #ececec;
	    background-color: #F7FAFC;
	}

	&__time{
		font-size: 14px;
	}

	&__number-wrap{
		display: flex;
		height: 65px;
		visibility: hidden;
		background: #fff;
		width: 90%;
		margin: 30px auto 0;
		justify-content: center;
		font-size: 40px;
		padding: 10px;
		transition: 2s;
	}

	&__number{
		margin: 0 20px;
	}

	&__eql-sign{
		font-size: 40px;
		margin: 0 10px;
	}

	&__answer-form{
		margin-top: 40px;
		height: 93px;

		div{
			display: flex;
			justify-content: center;
		}
	}

	&__answer-user{
		/*padding: 15px 0;*/
		margin: 0 10px;
		width: 190px;
		font-size: 40px;
	}

	&__answer-correct{
		color: #909090;
		font-size: 40px;
		display: none;
	}

	&__answer-type{
		margin-top: 15px;
		font-size: 25px;
	}

	&__answer-type--correct{
		color: #218321;
		font: Arial,sans-serif;
	}

	&__answer-type--wrong{
		color: #f6250d;
	}

	&__step{
		font-size: 13px;
		margin-top: 10px;
	}

	&__cancel{
		margin-top: 20px;
	}

	&__intro{
		height: 65px;
		/*border: 2px solid #F08710;*/
		position: absolute;
	    width: 90%;
	    left: 33px;
	    top: 69px;
	    background: #fff;
	    /*display: none;*/
	    text-align: center;
	    font-weight: 700;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}

}




 